
.DS_Store
/RoutineApp/RoutineApp.xcodeproj
RoutineApp/RoutineApp/Preview Content/Preview Assets.xcassets/Contents.json
RoutineApp/RoutineApp/Assets.xcassets/Contents.json
RoutineApp/RoutineApp/Assets.xcassets/AppIcon.appiconset/Contents.json
RoutineApp/RoutineApp/Assets.xcassets/AccentColor.colorset/Contents.json
